<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<select id="userList" parameterType="map" resultType="hashMap">
		/* user.userList */
		SELECT
			  USERID
			, PASSWORD
			, NAME
			, EMAIL
			, DEPTCD
			, GRADE
			, PHONE
			, TEL
			, CONFIRMYN
			, CONFIRMDTM
			, ERRCNT
			, DELYN
		FROM T_USER
		WHERE DELYN = 'N'
	</select>
	
	<select id="userCnt" parameterType="map" resultType="int">
		/* user.userCnt */
		WITH W_BASE AS (
			SELECT
				  USERID
				, PASSWORD
				, NAME
				, EMAIL
				, DEPTCD
				, GRADE
				, PHONE
				, TEL
				, CONFIRMYN
				, CONFIRMDTM
				, ERRCNT
				, DELYN
			FROM T_USER
			WHERE DELYN = 'N'
		)
		SELECT
			COUNT(*)
		FROM W_BASE
	</select>
	
	<select id="userView" parameterType="map" resultType="hashMap">
		/* user.userView */
		SELECT
			  USERID
			, PASSWORD
			, NAME
			, EMAIL
			, DEPTCD
			, GRADE
			, PHONE
			, TEL
			, CONFIRMYN
			, CONFIRMDTM
			, ERRCNT
			, DELYN
		FROM T_USER
		WHERE DELYN = 'N'
		AND USERID = #{userId}
	</select>
	
	<update id="userUpdate" parameterType="map">
		/* user.userUpdate */
		UPDATE
			T_USER
		<trim prefix="SET" prefixOverrides=",">
			<if test="name != null and name != ''">
				NAME = #{name}
			</if>
			<if test="email != null and email != ''">
				, EMAIL = #{email}
			</if>
			<if test="deptcd != null and deptcd != ''">
				, DEPTCD = #{deptcd}
			</if>
			<if test="grade != null and grade != ''">
				, GRADE = #{grade}
			</if>
			<if test="phone != null and phone != ''">
				, PHONE = #{phone}
			</if>
			<if test="tel != null and tel != ''">
				, TEL = #{tel}
			</if>
		</trim>
		WHERE USERID = #{userId}
	</update>
	
	<update id="userDelete" parameterType="map">
		/* user.userDelete */
		UPDATE
			T_USER
		SET
			DELYN = 'Y'
		WHERE USERID = #{userId}
	</update>
	
	<update id="initPasswordErrorCount" parameterType="map">
		/* user.initPasswordErrorCount */
		UPDATE
			T_USER
		SET
			ERRCNT = 0
		WHERE USERID = #{userId}
	</update>
	
	<update id="insertPasswordErrorCount" parameterType="map">
		/* user.insertPasswordErrorCount */
		UPDATE
			T_USER
		SET
			ERRCNT = ${errCnt}
		WHERE USERID = #{userId}
	</update>
</mapper>